---
import Section from './Section.astro'
---

<Section>
    <div class="flex flex-col gap-14">
        <div class="flex flex-col gap-2">
            <h2 class="font-serif text-4xl text-white font-bold tracking-tightest">
                Acerca de mi
            </h2>

            <div class="flex flex-col gap-4">
                <p class="text-gray-300 text-lg font-light">
                    Me especializo en la creación de <mark>interfaces accesibles, eficientes y escalables</mark>, con un fuerte enfoque en la <mark>usabilidad y la performance</mark>. Me considero una persona proactiva, autodidacta y perfeccionista, siempre buscando mejorar la experiencia del usuario y aportar valor a los proyectos en los que participo.
                </p>
                <p class="text-gray-300 text-lg font-light">
                    A lo largo de mi carrera, he trabajado en el sector financiero con empresas como <mark>Banco Itaú, Banco Santander y Banco Falabella</mark>, donde he perfeccionado mis habilidades en <mark>Vue, React, TypeScript</mark>, y la optimización de <mark>sistemas de diseño</mark>.
                </p>
                <p class="text-gray-300 text-lg font-light">
                    El <mark>desarrollo web</mark> comenzó como un hobby, pero rápidamente me di cuenta de que había descubierto una pasión y desde entonces no he parado de aprender.
                </p>
                <p class="text-gray-300 text-lg font-light">
                    En mis tiempos libres me dedico a la <mark>Fotografía</mark>, especialmente de retrato. También me encanta el anime y los videojuegos (principalmente en PC y Nintendo Switch). 
                </p>
            </div>
        </div>
    </div>
</Section>