---
import Section from './Section.astro';
const currentLang = Astro.currentLocale;
const stack = ['React', 'Next.js', 'Vue', 'Nuxt', 'JavaScript', 'TypeScript', 'HTML5', 'CSS3', 'WordPress', 'Astro', 'Tailwind', 'Git', 'Testing / Jest', 'a11y'];
---

<Section>
    <div class="flex flex-col gap-14">
        <div class="flex flex-col gap-2">
            <h2 class="font-serif text-4xl text-white font-bold tracking-tightest">
                { currentLang === 'en'
                    ? 'About me'
                    : 'Acerca de mi'
                }
            </h2>

            <div class="flex flex-col gap-8">
                <div class="flex flex-col gap-4">
                    <p class="text-gray-300 text-lg font-light">
                        { currentLang === 'en'
                            ? <>I specialize in creating <mark>accessible, efficient, and scalable interfaces</mark>, with a strong focus on <mark>usability and performance</mark>.. I consider myself proactive, self-taught, and perfectionist, always striving to improve the user experience and add value to the projects I contribute to.</>
                            : <>Me especializo en la creación de <mark>interfaces accesibles, eficientes y escalables</mark>, con un fuerte enfoque en la <mark>usabilidad y la performance</mark>. Me considero una persona proactiva, autodidacta y perfeccionista, siempre buscando mejorar la experiencia del usuario y aportar valor a los proyectos en los que participo.</>
                        }
                    </p>
                    <p class="text-gray-300 text-lg font-light">
                        { currentLang === 'en'
                            ? <>Throughout my career, I’ve worked in the financial sector with companies like <mark>Banco Itaú, Banco Santander, and Banco Falabella</mark>, where I’ve refined my skills in <mark>Vue, React, TypeScript</mark>, and <mark>design system optimization</mark>.</>
                            : <>A lo largo de mi carrera, he trabajado en el sector financiero con empresas como <mark>Banco Itaú, Banco Santander y Banco Falabella</mark>, donde he perfeccionado mis habilidades en <mark>Vue, React, TypeScript</mark>, y la optimización de <mark>sistemas de diseño</mark>.</>
                        }
                    </p>
                    <p class="text-gray-300 text-lg font-light">
                        { currentLang === 'en'
                            ? <><mark>Web development</mark> started as a hobby, but I quickly realized I had discovered a passion, and since then, I haven’t stopped learning.</>
                            : <>El <mark>desarrollo web</mark> comenzó como un hobby, pero rápidamente me di cuenta de que había descubierto una pasión y desde entonces no he parado de aprender.</>
                        }
                    </p>
                    <p class="text-gray-300 text-lg font-light">
                        { currentLang === 'en'
                            ? <>In my free time, I dedicate myself to <mark>photography</mark>, particularly portrait. I also love anime and video games (mainly on PC and Nintendo Switch).</>
                            : <>En mis tiempos libres me dedico a la <mark>Fotografía</mark>, especialmente de retrato. También me encanta el anime y los videojuegos (principalmente en PC y Nintendo Switch).</>
                        }
                    </p>
                </div>

                <div class="flex flex-col gap-2">
                    <p class="text-gray-300 text-sm font-light">
                        { currentLang === 'en'
                            ? 'My tech stack:'
                            : 'Mi stack tecnológico:'
                        }
                    </p>

                    <ul class="flex flex-row flex-wrap gap-2">
                        { stack.map(item => (
                            <li class="border-card border rounded-xl text-gray-300 py-1 px-2 text-sm">
                                { item }
                            </li>
                        ))}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</Section>