---
import Section from './Section.astro';
const currentLang = Astro.currentLocale;
const stack = ['React', 'Next.js', 'Vue', 'Nuxt', 'JavaScript', 'TypeScript', 'HTML5', 'CSS3', 'WordPress', 'Astro', 'Tailwind', 'Git', 'Testing / Jest', 'a11y'];
---

<Section {...Astro.props}>
    <div class="flex flex-col gap-14">
        <div class="flex flex-col gap-2">
            <h2 class="font-serif text-4xl text-white font-bold tracking-tightest">
                { currentLang === 'en'
                    ? 'About me'
                    : 'Acerca de mi'
                }
            </h2>

            <div class="flex flex-col gap-8">
                <div class="flex flex-col gap-4">
                    <p class="text-gray-300 text-lg font-light">
                        { currentLang === 'en'
                            ? <>I am a Front-end Developer with over 8 years of experience, <mark>specializing in creating accessible, efficient, and scalable interfaces</mark> with a strong focus on <mark>usability and performance</mark>. I am passionate about enhancing user experiences and adding value to every project I work on. I consider myself a curious, proactive, and self-taught person, always seeking new ways to optimize and continuously improve.</>
                            : <>Soy Desarrollador Front-end con más de 8 años de experiencia, <mark>especializado en la creación de interfaces accesibles, eficientes y escalables</mark>, con un fuerte enfoque en  <mark>usabilidad y performance</mark>. Me apasiona mejorar la experiencia del usuario y aportar valor a cada proyecto en el que participo. Me defino como una persona curiosa, proactiva y autodidacta, siempre en busca de nuevas formas de optimización y mejora continua.</>
                        }
                    </p>
                    <p class="text-gray-300 text-lg font-light">
                        { currentLang === 'en'
                            ? <>Over the past few years, I have primarily worked in digital banking, contributing to the development of the <mark>Design Systems for Banco Itaú, Banco Santander, and Banco Falabella</mark>. These experiences have strengthened both my technical skills and my ability to work effectively in a team.</>
                            : <>Durante los últimos años he trabajando principalmente en banca digital, participando activamente en el desarrollo de los <mark>Design Systems de Banco Itaú, Banco Santander y Banco Falabella</mark>. Estas experiencias han fortalecido mis habilidades tanto técnicas como de trabajo en equipo.</>
                        }
                    </p>
                    <p class="text-gray-300 text-lg font-light">
                        { currentLang === 'en'
                            ? <>In my free time, I dedicate myself to <mark>photography</mark>, particularly portrait. I also love anime and video games (mainly on PC and Nintendo Switch).</>
                            : <>En mis tiempos libres me dedico a la <mark>Fotografía</mark>, especialmente de retrato. También me encanta el anime y los videojuegos (principalmente en PC y Nintendo Switch).</>
                        }
                    </p>
                </div>

                <div class="flex flex-col gap-2">
                    <p class="text-gray-300 text-sm font-light">
                        { currentLang === 'en'
                            ? 'My tech stack:'
                            : 'Mi stack tecnológico:'
                        }
                    </p>

                    <ul class="flex flex-row flex-wrap gap-2">
                        { stack.map(item => (
                            <li class="border-card border rounded-xl text-gray-300 py-1 px-2 text-sm">
                                { item }
                            </li>
                        ))}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</Section>