---
import Social from './Social.astro';
---

<footer class="pb-10">
    <div class="max-w-3xl px-5 mx-auto">
        <div class="flex justify-center sm:justify-start">
            <Social />
        </div>
    </div>
</footer>
