<header class="py-5">
    <ul class="flex gap-6 justify-end">
        <li class="text-gray-300 text-lg font-light">
            <a href="/" aria-label="Navegar el sitio en español" title="Navegar el sitio en español">ES</a>
        </li>
        <li class="text-gray-300 text-lg font-light">
            <a href="/en"  aria-label="Browse the site in English" title="Browse the site in English">EN</a>
        </li>
    </ul>
</header>