---
const languagesOptions = [
    {
        lang: 'ES',
        description: 'Navegar el sitio en español',
        href: '/',
    },
    {
        lang: 'EN',
        description: 'Browse the site in English',
        href: '/en',
    },
];
---

<header class="py-5">
    <ul class="flex gap-6 justify-end">
        {
            languagesOptions.map(({ lang, description, href }) => (
                <li class="text-gray-300 text-lg font-light">
                    <a
                        href={href}
                        class="lang__switch"
                        aria-label={description}
                        title={description}
                    >
                        {lang}
                    </a>
                </li>
            ))
        }
    </ul>
</header>
