---
import Section from './Section.astro'
import { getCollection, render } from 'astro:content';

const work = await getCollection('work');
const sortedWork = work.sort((a, b) => a.data.order - b.data.order);
---

<Section>
    <div class="flex flex-col gap-14">
        <div class="flex flex-col gap-2 animate-fade-down animate-delay-300">
            <h2 class="font-serif text-4xl text-white font-bold tracking-tightest">
                Experiencia laboral
            </h2>

            <p class="text-gray-300 text-lg font-light">
                Durante los últimos años he trabajando principalmente en banca digital, participando en el desarrollo de los Design Systems de Banco Santander, Banco Falabella y Banco Itaú.
            </p>
            <p class="text-gray-300 text-lg font-light">
                Puedes conocer toda mi experiencia laboral en mi perfil de <a href="https://www.linkedin.com/in/narcecl/" class="text-sky-400 hover:text-sky-400 underline" target="_blank" rel="noreferrer noopener">LinkedIn</a>.
            </p>
        </div>

        <div class="flex flex-col gap-4">
            { sortedWork.map(async item => {
                const { data } = item;
                const { company, position, startDate, endDate, stack } = data;
                const { Content } = await render(item);

                return (
                    <div class="flex flex-col gap-8 border border-card p-6 rounded-2xl">
                        <div>
                            <h3 class="text-white text-lg">{ company }</h3>
                            <p class="text-sky-500 text-2xl font-serif">{ position }</p>
                            <p class="text-gray-300 text-sm font-light">{ startDate } - { endDate }</p>
                        </div>
                        <div class="work__content text-white font-light">
                            <Content />
                        </div>
                        <div>
                            <p class="text-gray-300 text-sm font-light">
                                { stack?.join(' • ') }
                            </p>
                        </div>
                    </div>
                )
            })}
        </div>
    </div>
</Section>

<style>
    .work__content{
        ul{
            display: flex;
            flex-direction: column;
            gap: 4px;

            li{
                &:before{
                    content: url(/check.svg);
                    position: absolute;
                    left: 0;
                    top: 2px;
                }

                position: relative;
                padding-left: 2rem;
            }
        }
    }
</style>