---
import Section from './Section.astro'
import { getCollection, render } from 'astro:content';

const currentLang = Astro.currentLocale;
const work = await getCollection('work');
const filteredWorks = work.filter(({ data: { lang = 'es' } }) => lang === currentLang);
const sortedWork = filteredWorks.sort((a, b) => a.data.order - b.data.order);
---

<Section>
    <div class="flex flex-col gap-14">
        <div class="flex flex-col gap-2 animate-fade-down animate-delay-300">
            <h2 class="font-serif text-4xl text-white font-bold tracking-tightest">
                { currentLang === 'en'
                    ? 'Professional Experience'
                    : 'Experiencia laboral'
                }
            </h2>

            <p class="text-gray-300 text-lg font-light">
                { currentLang === 'en'
                    ? 'Over the past few years, I have primarily worked in digital banking, contributing to the development of the Design Systems for Banco Santander, Banco Falabella, and Banco Itaú.'
                    : 'Durante los últimos años he trabajando principalmente en banca digital, participando activamente en el desarrollo de los Design Systems de Banco Santander, Banco Falabella y Banco Itaú.'
                }
            </p>
            <p class="text-gray-300 text-lg font-light">
                { currentLang === 'en'
                    ? <>You can explore all my work experience on my <a href="https://www.linkedin.com/in/narcecl/" class="text-sky-400 hover:text-sky-400 underline" target="_blank" rel="noreferrer noopener">LinkedIn</a> profile.</>
                    : <>Puedes conocer toda mi experiencia laboral en mi perfil de <a href="https://www.linkedin.com/in/narcecl/" class="text-sky-400 hover:text-sky-400 underline" target="_blank" rel="noreferrer noopener">LinkedIn</a>.</>
                }
            </p>
        </div>

        <div class="flex flex-col gap-4">
            { sortedWork.map(async item => {
                const { data } = item;
                const { company, position, startDate, endDate, stack } = data;
                const { Content } = await render(item);

                return (
                    <div class="flex flex-col gap-8 border border-card p-6 rounded-2xl">
                        <div>
                            <div class="flex flex-col sm:flex-row sm:items-center sm:gap-2">
                                <p class="text-sky-500 text-2xl font-serif">{ company }</p>
                                <span class="text-white hidden sm:inline-flex">|</span>
                                <h3 class="text-white text-lg">{ position }</h3>
                            </div>
                            <p class="text-gray-300 text-sm font-light">{ startDate } - { endDate }</p>
                        </div>
                        <div class="work__content text-white font-light">
                            <Content />
                        </div>
                        <div>
                            <p class="text-gray-300 text-sm font-light">
                                { stack?.join(' • ') }
                            </p>
                        </div>
                    </div>
                )
            })}
        </div>
    </div>
</Section>

<style>
    .work__content{
        ul{
            display: flex;
            flex-direction: column;
            gap: 8px;

            @media screen and (min-width: 640px){
                gap: 4px;
            }

            li{
                &:before{
                    content: url(/check.svg);
                    position: absolute;
                    left: 0;
                    top: 2px;
                }

                position: relative;
                padding-left: 2rem;
            }
        }
    }
</style>